.p3{
    color: blueviolet;
}

.p2:hover{
    color: aqua;
}

.container{
    width: 50vw;
    height: 35vh;
    overflow: scroll;
   
}

.container p{
    background-image: url("istockphoto-517188688-612x612.jpg");
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-style: italic;
}

.container2{
   background: linear-gradient(to right, blue , yellow);
   margin: 20px 0px;
   width: 50vw;
   height: 40vh;
}

table, td, tr,th {
    border: 1px solid grey;
    border-collapse: collapse;
}